.ca1{
    background-color:rgb(236,235,235);
    border-radius:  10px;
    padding:5% ;
}
.ca1:hover{
    background-color:white;
    border-radius:  10px;
    padding:5% ;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.265);
    color: orange;
}
.icon-size{
font-size: 25px;
border-radius: 100%;
border-color: white;
width: 25%;
height: 35%;
border: black 3px solid;
text-align: center;
padding-top: 5%;
}
.arrow-pos{
padding-left: 50%;
margin-top: 10%;
}
.h55{
    color:orange ;
    padding: top;
}
.h22{
    color:white ;
    font-size: 40px;
}
.h66{
    color: orange;
    font-size: 30px;
}
.cc{
    color: orangered;
    font-size: 50px;
}
.pp{
    margin-top: 60%;
}
.dd{
    background-color:rgb(236,235,235);
    border-radius:  10px;
    padding:5% ;   
}
#p1{
    color: orange;
    font-size: 25px;
    font-weight: bold;
}
#p2{
    font-weight: bold;
    font-size: 55px;
}
#p77{
    color: white;
}

#p3{
    font-size: 30px;
    font-weight: bold;
}
#p7{
    color: gray;
}
.icon{
    font-size: 25px;
    width: 40%;
    height: 35%;
    text-align:right;
    padding-right: 5%; 
    color: white;
}
.ca2{
    background-color:rgb(236,235,235);
    border-radius:  10px;
    padding:5% ;
}
.ca2:hover{
    background-color:white;
    border-radius:  10px;
    padding:5% ;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.265);
}
.bb1{
    background-color: rgb(246, 201, 209);
}
.bt{
    background-color:rgba(255, 255, 255, 0);
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0);
}
.bt:hover{
    background-color:rgba(255, 255, 255, 0);
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0);
    background-color: black;
    color: white;
}
.btt{
    background-color:rgba(0, 0, 0, 0);
}
.btt:hover{
    background-color:rgba(0, 0, 0, 0);
    color: orange;
}
.btt1{
    color: white;
    padding: 20px;
    background-color: black;
}
.btt1:hover{
    color: white;
    padding: 20px;
    background-color:rgba(255, 255, 255, 0);
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0);
    background-color: black;
    color: white;
}
.p2{
    color: black;
    font-weight: bold;
}
.btt2{
    color: rgb(255, 255, 255) ;
    background-color:black;
    padding: 16px;
    border-radius: 10px 10px 10px 10px;
}
.btt2:hover{
    color: black ;
    background-color: white;
    border-color:black ;
    padding: 16px;
    border-radius: 10px 10px 10px 10px;
}
.bu1{
    color: black;
    background-color: white;
}
.bu1:hover{
    color: white;
    background-color: black;
}
footer{
    background-color: black;
}
.c1{
border-radius: 10%;
background-color:rgba(0, 0, 0, 0.012);
border-color: white;
padding: 5%;
}
.ic1{
    color: white;
}
.ic1:hover{
    color: white;
    color: orange;
}
#btt{
   color: white;
   padding-right:70%;
}
#btt:hover{
    color: white;
    color: orange;
}
.contact{
    color: red;
    font-size: 70px;
    margin-bottom: 10%;
}
input ,select,textarea{
    background-color: azure !important;
    border-radius: 10px !important;
    border: black 2px solid !important;
}
#but{
    background-color: black;
    color: white;
    width: 100%;
}
#but:hover{
    background-color: white;
    color: black;
    width: 100%;
    border: black 0.5px solid ;
}
